<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FredOraclePostgreSQLDataCompare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FredOraclePostgreSQLDataCompare.Properties.Settings>
      <setting name="WindowHeight" serializeAs="String">
        <value>480</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>640</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LanguageFileName" serializeAs="String">
        <value>Translations.xml</value>
      </setting>
      <setting name="LastLanguageUsed" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="CheckBoxSourceRememberCredentials" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckBoxTargetRememberCredentials" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="textBoxTargetName" serializeAs="String">
        <value />
      </setting>
      <setting name="textBoxSourceName" serializeAs="String">
        <value />
      </setting>
      <setting name="comboBoxSourceDatabase" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="comboBoxTargetDatabase" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="TextBoxSourcePort" serializeAs="String">
        <value>1521</value>
      </setting>
      <setting name="TextBoxTargetPort" serializeAs="String">
        <value>5432</value>
      </setting>
      <setting name="comboBoxServerSourceItems" serializeAs="String">
        <value />
      </setting>
      <setting name="comboBoxServerTargetItems" serializeAs="String">
        <value />
      </setting>
      <setting name="comboBoxSourceSchemaItems" serializeAs="String">
        <value />
      </setting>
      <setting name="comboBoxTargetSchemaItems" serializeAs="String">
        <value />
      </setting>
      <setting name="comboBoxSourceSchemaIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="comboBoxTargetSchemaIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="textBoxSourceServer" serializeAs="String">
        <value />
      </setting>
      <setting name="textBoxTargetServer" serializeAs="String">
        <value />
      </setting>
    </FredOraclePostgreSQLDataCompare.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>